// Input pour chercher

form {
  .input-top {
    &::placeholder {
      color: $placeholder-color;
    }
    &:focus {
      background-color: $search-color-active;
      color: $primary-color;
    }

    &--bg-color {
      background-color: $search-color;
    }
    &__shadow {
      box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3),
        -1px -1px 2px rgba(46, 53, 62, 0.5),
        inset -3px 3px 6px rgba(46, 53, 62, 0.2),
        inset 3px -3px 6px rgba(46, 53, 62, 0.2),
        inset -3px -3px 6px rgba(66, 75, 88, 0.9),
        inset 3px 3px 8px rgba(46, 53, 62, 0.9);
    }
  }
  i {
    position: absolute;
    margin: 10.5%;
  }
  .mt-custom-search-input {
    margin-top: -1.7rem;
  }
  .ms-custom-search-input {
    margin-left: 11rem;
  }
}

.ms-custom-search {
  @include xlarge {
    margin-left: -9rem;
  }
  @include xxlarge {
    margin-left: -3rem;
  }
}

.w-custom-search {
  @include xlarge {
    width: 40%;
  }
  @include xxlarge {
    width: 34%;
  }
}

.ms-custom-search {
  @include medium {
    margin-left: -16rem;
  }
  @include large {
    margin-left: -16rem;
  }
  @include xlarge {
    margin-left: -9rem;
  }
  @include xxlarge {
    margin-left: -3rem;
  }
}
