// Input pour chercher

form {
  .input-top {
    &::placeholder {
      color: $placeholder-color;
    }
    &:focus {
      background-color: $search-color-active;
      color: $primary-color;
    }

    &--bg-color {
      background-color: $search-color;
    }
    &__shadow {
      box-shadow: $shadow-input;
    }
  }
  i {
    position: absolute;
    margin: 10.5%;
  }
  .mt-custom-search-input {
    margin-top: -1.7rem;
  }
  .ms-custom-search-input {
    margin-left: 11rem;
  }
}

.ms-custom-search {
  @include xlarge {
    margin-left: -9rem;
  }
  @include xxlarge {
    margin-left: -3rem;
  }
}

.w-custom-search {
  @include xlarge {
    width: 40%;
  }
  @include xxlarge {
    width: 34%;
  }
}

.ms-custom-search {
  @include medium {
    margin-left: -16rem;
  }
  @include large {
    margin-left: -16rem;
  }
  @include xlarge {
    margin-left: -9rem;
  }
  @include xxlarge {
    margin-left: -3rem;
  }
}
