section {
  form {
    .w-custom-left {
      width: 22rem;
    }
    .w-custom-description {
      width: 10.6rem;
    }
    .w-custom-quantity {
      width: 10.6rem;
    }
    .arrow-right {
      margin: 0 0 0 8rem;
    }
    .arrow-left {
      margin: 0 0 0 19.5rem;
    }
    .ms-custom-first-inut {
      margin: 0 0 0 1.65rem;
    }
  }
  .m-custom-input {
    margin: 0 0 0 20rem;
  }
  .m-custom-read {
    margin: 5.35rem 0px 0px -5rem;
  }
}
