section {
  form {
    .w-custom-left {
      width: 34rem;
      @include medium {
        width: 46rem;
      }

      @include large {
        width: 22rem;
      }
    }
    .w-custom-description {
      width: 34rem;
      @include medium {
        width: 46rem;
      }
      @include large {
        width: 10.6rem;
      }
    }
    .w-custom-quantity {
      width: 24rem;
      @include small {
        width: 34rem;
      }
      @include medium {
        width: 46rem;
      }
      @include large {
        width: 10.6rem;
      }
    }
    .arrow-right {
      margin-left: 21.5rem;
      @include small {
        margin-left: 31rem;
      }
      @include medium {
        margin-left: 42.5rem;
      }

      @include large {
        margin-left: 8rem;
      }
    }
    .arrow-left {
      margin-left: 21.5rem;
      @include small {
        margin-left: 31rem;
      }
      @include medium {
        margin-left: 42.5rem;
      }
      @include large {
        margin-left: 19.5rem;
      }
    }
    .mx-custom-md-add {
      @include medium {
        margin-right: 12rem !important;
        margin-left: 4rem !important;
      }
      @include large {
        margin-right: 4rem !important;
        margin-left: 4rem !important;
      }
    }
    .ms-custom-first-inut {
      @include large {
        margin: 0 0 0 1.65rem;
      }
    }

    .pt-custom-row-button {
      // 576px
      padding-top: 5rem;
    }
  }
  .col-custom-input {
    flex: 0 0 auto;
    width: 86.667%;
  }
  .m-custom-input {
    @include large {
      margin: 0 0 0 20rem;
    }

    @include medium {
      margin: 0 0 0 10.583rem;
    }
  }
  .m-custom-read {
    @include large {
      margin: -8rem 0 0 91%;
    }
    @include xlarge {
      margin: -8rem 0 0 90%;
    }
  }
}
