section {
  form {
    .w-custom-left {
      width: 22rem;
    }
    .w-custom-description {
      width: 10.6rem;
    }
    .w-custom-quantity {
      width: 10.6rem;
    }
    .arrow-right {
      margin: 0 0 0 8rem;
    }
    .arrow-left {
      margin: 0 0 0 19.5rem;
    }
    .ms-custom-first-inut {
      margin: 0 0 0 1.65rem;
    }
  }
  .m-custom-input {
    @include large {
      margin: 0 0 0 20rem;
    }

    @include medium {
      margin: 0 0 0 10.583rem;
    }
  }
  .m-custom-read {
    @include xxlarge {
      padding: 0 0 0 15rem;
    }
    @include xlarge {
      padding: 0rem 0 0 12rem;
    }
    @include large {
      padding: 5rem 0 0 0;
    }
  }
}
