.nav-scroll {
  .col-custom-logo-scroll {
    flex: 0 0 auto;
    width: 12.667%;
  }
  .mt-custom-loop {
    margin-top: 1.9rem;
    @include small {
      margin-top: 2rem;
    }
  }
  .ms-custom-loop {
    margin-left: 3rem;
    @include small {
      margin-left: 7rem;
    }
  }
}

.mr-custom-date-logo {
  margin-right: 18rem;
  @include small {
    margin-right: 24rem;
  }
  @include medium {
    margin-right: 52rem;
  }
}

.mt-custom-date {
  @include small {
    margin-top: 2.35rem;
  }
  @include medium {
    margin-top: 2.35rem;
  }

  @include large {
    margin-top: 3rem;
  }
}
.ms-custom-date {
  @include small {
    margin-left: 5.7rem;
  }

  @include medium {
    margin-left: 7rem;
  }
}
