.ps-custom-container-article {
  padding: 0 0rem 0 1rem;
  @include medium {
    padding: 0 2rem 0 2rem;
  }
  @include large {
    padding: 0 8rem 0 22rem;
  }

  .card {
    &__element {
      @include article-holder-box-shadow;
      border-bottom: $bottom-separator !important;
    }

    &--modifier {
      background-color: $article-holder-color !important;
    }
  }
  .card-body {
    &__element {
      border-bottom: $bottom-separator !important;
    }
  }
  .card-header {
    &--modifier {
      background-color: $article-holder-color !important;
    }
    &__element {
      border-bottom: $bottom-separator !important;
    }
  }

  .card-footer {
    &__element {
      @include article-holder-box-shadow;
    }
    &--modifier {
      background-color: $article-holder-color !important;
    }
  }

  .todo {
    box-sizing: border-box;
    border: $rounded-todo-color;
    border-radius: 16rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .done {
    background: $done-button;
  }

  .mt-custom-title {
    margin: 1.25rem 0 0 0px;
  }
  .text-custom-title {
    color: $text-color-title;
  }
  .h-custom-date {
    height: 0.8rem;
  }
  .ms-custom-date {
    margin-left: 6rem;
  }
  .mt-custom-date {
    margin-top: -3rem;

    @include xsmall {
      margin-top: 0rem;
    }
    @include xsmallForDate {
      margin-top: 0rem;
    }
    @include small {
      margin-top: 0rem;
    }
  }
  .ms-custom-categorie {
    margin-left: 2.5rem;
  }
  .ms-custom-modification {
    margin-left: 13.3rem;
  }
  .mr-custom-modification-last-child {
    margin-right: -11.05rem;
  }
  .ms-custom-delete-last-child {
    margin-left: 11.8rem;
  }

  .w-custom-categroeie {
    width: 10rem;
  }
  .z-index-nav {
    z-index: 1000;
  }
  .mr-custom-xs-button {
    margin-right: -1.3rem;
    @include small {
      margin-right: -0.65rem;
    }
  }
  .list {
    list-style-type: none;
  }
}

.z-index-article {
  z-index: auto;
}

/* Button Rond */
section {
  .top-custom-button-round {
    top: 90%;
  }
  .left-custom-button-round {
    left: 86%;
  }
  .mt-custom-plus {
    margin-top: 1.4rem;
  }
  .ml-custom-plus {
    margin-left: 0.8rem;
  }
  .pr-custom-plus {
    padding-right: 0.8rem;
  }
  .pb-custom-plus {
    padding-bottom: 1.5rem;
  }
}
