.ps-custom-container-article {
  padding: 0 8rem 0 22rem;

  .card {
    &__element {
      @include article-holder-box-shadow;
      border-bottom: $bottom-separator !important;
    }

    &--modifier {
      background-color: $article-holder-color !important;
    }
  }
  .card-body {
    &__element {
      border-bottom: $bottom-separator !important;
    }
  }
  .card-header {
    &--modifier {
      background-color: $article-holder-color !important;
    }
    &__element {
      border-bottom: $bottom-separator !important;
    }
  }

  .card-footer {
    &__element {
      @include article-holder-box-shadow;
    }
    &--modifier {
      background-color: $article-holder-color !important;
    }
  }

  .todo {
    box-sizing: border-box;
    border: $rounded-todo-color;
    border-radius: 16rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .done {
    background-color: $rounded-todo-color;
  }
}

/* article holder */
/* Rond */
