// Button add
button {
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 3px;
  transition: all 800ms;
  border-radius: 20px;
  padding: 5px 20px;
}

.button {
  background-color: #fb7b43 !important;
}

.button:hover {
  filter: brightness(0.75);
  transform: translateY(-3px);
  transition: 500ms;
  box-shadow: 0 10px 20px #00000033;
}
/* active ne fonctionne pas */
.btn:active {
  filter: brightness(0.75);
  bottom: 3px;
  box-shadow: 0 5px 10px #00000033;
  transition: 500ms;
}
// Button effacer
.danger {
  background-color: red;
  transition: all 800ms;
}

.danger:hover {
  filter: brightness(0.75);
}
// Button modification
.modification {
  background-color: #7474da;
  transition: all 800ms;
}

.modification:hover {
  filter: brightness(0.75);
}
