// Text color
$primary-color: white;
//navbar
$search-color: #3d434b;
$search-color-active: #4a4e53;
$placeholder-color: white;
$navbar-color: #171f2a;
$navbar-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
