// Text color
$primary-color: white;
//navbar
$search-color: #3d434b;
$search-color-active: #4a4e53;
$placeholder-color: white;
$navbar-color: #171f2a;
$navbar-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Button
$transition-add: 500ms;
$brightness-add: brightness(0.75);