.navbar {
  &__coulour {
    background: $navbar-color;
    mix-blend-mode: hard-light;
    box-shadow: $navbar-shadow;
  }
  .ms-title-custom {
    margin: 0px 0px 0px -8px;
  }
  .search-bar {
    &__position {
      margin: 0 -11rem 0px 0rem;
    }
    .text-date {
      &__spacing {
        margin: -7px 0px -4px 16px;
      }
    }
    .search-icon {
      &__position {
        margin: 8px 0px 0px 8rem;
      }
    }
    .search-icon1 {
      &__position {
        margin: 8px 0px 0px 19rem;
      }
    }
  }
}

.navbar-left {
  position: fixed;
  min-width: 7rem;
  width: 5.5rem;
  top: 0%;
  bottom: 0%;
  &--colour {
    background: $navbar-color;
    mix-blend-mode: hard-light;
    box-shadow: $navbar-shadow;
  }
  .container-custom-reader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 31rem 5px 0 0;
  }
}

.mb-date-custom1 {
  margin: 0 26px 0 0;
}

.mb-date-custom3 {
  margin: 0px 2px 0px 0;
}
