.navbar {
  .col-first-custom {
    flex: 0 0 auto;
    width: 63.667%;
  }
  .col-heure-custom {
    flex: 0 0 auto;
    width: 0.667%;
  }
  .col-custom-logo {
    flex: 0 0 auto;
    width: 3.667%;
  }
  &__coulour {
    background: $navbar-color;
    mix-blend-mode: hard-light;
    box-shadow: $navbar-shadow;
  }
  .m-title-custom {
    margin: -1.2rem 0 0 0 !important;
  }
  .text-date {
    &__spacing {
      margin: 0px 0px -10px -12px;
    }
  }
  .text-heure {
    &__spacing {
      margin: 0 0 0 10px;
    }
  }
}

.navbar-left {
  &--colour {
    background: $navbar-color;
    mix-blend-mode: hard-light;
    box-shadow: $navbar-shadow;
  }

  .p-custom-read {
    //1280px
    padding: 115% 0 0 0;

    @include xlarge {
      padding: 170% 0 0 0;
    }
    // 1440px
    @include xxlarge {
      padding: 120% 0 0 0;
    }

  }
  .mb-date-custom1 {
    margin: 0 26px 0 0;
  }

  .mb-date-custom3 {
    margin: 0px 2px 0px 0;
  }

  .mt-custom-date {
    margin-top: 5rem !important;
  }
}
